<div class="chatbot-container">
  <mat-card class="chatbot-card">
    <mat-card-title>DBpedia Assistant</mat-card-title>
    <mat-card-content class="query">
      <div class="input-container">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Ask your question</mat-label>
          <textarea matInput #textarea [(ngModel)]="question.query" placeholder="Type your question here"
                    (keydown)="handleKeyDown($event)" (input)="adjustTextareaHeight()"
                    [disabled]="inputDisabled"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="model-select">
          <mat-label>Select Model</mat-label>
          <mat-select [(ngModel)]="selectedModel" [disabled]="inputDisabled">
            <mat-option value="gemini">Gemini (gemini-1.0-pro-002)</mat-option>
            <mat-option value="chat-bison">Chat Bison (chat-bison-32k&#64;002)</mat-option>
            <mat-option value="text-bison">Text Bison (text-bison&#64;001)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="selectedVersion=='version4'" class="image-upload" (click)="fileInput.click()">
        <input #fileInput type="file" id="imageUpload" accept="image/*" (change)="onFileSelected($event)" required>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" class="uploaded-image">
        <span *ngIf="!imageUrl">Browse Image</span>
      </div>
      <div class="button-toggle-container">
        <mat-button-toggle-group [(ngModel)]="selectedVersion" (change)="handleChange()">
          <mat-button-toggle value="version1" [disabled]="inputDisabled">Focused Search & Jeopardy</mat-button-toggle>
          <mat-button-toggle value="version2" [disabled]="inputDisabled">Broad Search</mat-button-toggle>
          <mat-button-toggle value="version3" [disabled]="inputDisabled">Sparql generation & Search</mat-button-toggle>
          <mat-button-toggle value="version4" [disabled]="inputDisabled">Search Based on Image</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="generation-container">
        <mat-form-field appearance="outline" class="generation-type" *ngIf="selectedVersion=='version3'">
          <mat-label>Select Generation Type</mat-label>
          <mat-select [(ngModel)]="selectedGeneration" [disabled]="inputDisabled">
            <mat-option value="with-examples">With Examples</mat-option>
            <mat-option value="without-examples">Without Examples</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="submit-button-container">
        <button mat-raised-button class="submit-button" color="primary" (click)="getAnswer()" [disabled]="inputDisabled">Submit</button>
      </div>
    </mat-card-content>
    <mat-card-content>
      <p>Jeopardy Questions: {{ jeopardyQuestionCount }}</p>
      <p>DBpedia Articles: {{ articleCount }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="showGeneratedQuery">
      <h3>Generated SPARQL Query:</h3>
      <p class="answer-text">{{ displayedGeneratedQuery }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="showAnswer">
      <h3>Search stage:</h3>
      <p class="answer-text">{{ searchStage }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="showAnswer">
      <h3>Answer:</h3>
      <div *ngIf="isLoading" class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      <div class="answer-content">
        <p *ngIf="!isLoading" class="answer-text">{{ displayedAnswer }}</p>
        <div *ngIf="displayedImageUrl" class="image-container">
          <img class="answer-image" [src]="displayedImageUrl" alt=""/>
          <p class="image-distance">{{ imageDistance }}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="showImages">
      <h3>Considered Images:</h3>
      <div @listStagger class="considered-images-container">
        <div *ngFor="let image of consideredImages; let i = index" class="considered-image" [style.animation-delay.ms]="i * 100">
          <img [src]="createImageUrl(image.image)" alt=""/>
          <p class="image-distance">{{ image.distance }}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="showResources">
      <h3>Resources:</h3>
      <div @listStagger>
        <div *ngFor="let resource of resources; let i = index" [style.animation-delay.ms]="i * 100">
          <mat-card class="resource-card" [innerHTML]="formatResource(resource)"></mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
