.chatbot-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 20px 0;
}

.chatbot-card {
  width: 750px;
  padding: 20px 20px 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #000;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  color: cyan;
  margin-bottom: 20px;
  padding: 10px;
}

.query {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  min-height: 30px;
  resize: none;
  height: auto;
}

.button-toggle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mat-button-toggle {
  color: #fff;
}

.mat-button-toggle-checked {
  background-color: #2196F3;
  color: #fff;
}

.submit-button {
  align-self: center;
  font-size: 18px;
}

mat-card-content h3 {
  margin-top: 20px;
  color: cyan;
}

mat-card-content p {
  color: #d3d3d3;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 25px;
  padding: 25px;
}

.resource-card {
  background-color: #e0f7fa;
  color: #00796b;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
